nav.nav
  - var items = ['home', 'about us', 'our approach', 'our work']
    each item in items
      if item === 'Home'
        a.nav__link--active(href="#")= item
      else
        a.nav__link(href="#")= item